:host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 30px;
    background-color: #222;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
}
#mission-statement {
    max-width: 480px;
    margin: 0 auto;
}