<article id="project-container">
  <div id="project-hero">
      <img style="height: 200px; width: 200px;" class="centered" src="/assets/img/{{imgSrc}}" alt="">
  </div>
  <div class="project-text">
    
    <h1>{{title}}</h1>
    <p>
      Data visualization is an important part of Illumina's products.
    </p>
    <h2>Start with a solid foundation</h2>
    <p>Use the Illumina color system</p>
    <h2>Leverage the web</h2>
    <p>Chroma.js, ColorBrewer, D3</p>
    <h2>Building a simple tool</h2>
    <p>Multi-hue</p>
  </div>
</article>