<article id="project-container">
  <div id="project-hero">
      <img style="height: 200px; width: 200px;" class="centered" src="/assets/img/{{imgSrc}}" alt="">
  </div>
  <div class="project-text">
    <h1>{{title}}</h1>
    <p>
      DesignStudio is a line of software that creates custom assay designs for Illumina's two major category of products: the microarray and next-generation sequencing.
      It has been one of the products where I was in charge of both the user experience design and front end engineering.
      The value of having a solid design language and a well-made developer experience proved pivotal in meeting timelines despite changes.
    </p>
    <h2>Develop the developer experience</h2>
    <p>
      Webpack, Browsersync, npm scripts, VS Code, run tasks.
    </p>
    <h2>Establish a design language</h2>
    <p>
      Respect the brand and look for opportunities to innovate.
      Zero states.
      Voice and tone.
      D3 for charts.
      Helix loader.
    </p>
    <h2>Focus on performance early</h2>
      <p>Use lightweight imagery, pngs, svgs.</p>
    <h2>Seek feedback early and often</h2>
      <p>Build a relationship with technical support, internal users, and marketing.</p>
  </div>
</article>