<article id="project-container">
  <div id="project-hero">
      <img style="height: 200px; width: 200px;" class="centered" src="/assets/img/{{imgSrc}}" alt="">
  </div>
  <div class="project-text">
    <h1>{{title}}</h1>
    <p>
      <i>
        As the lead designer and front end developer, I was responsible for designing a brand new experience and engineer it from the ground up.
      </i>
    </p>
    <p>
      The microarray assay has been a core technology of Illumina for nearly a 15 years.
      It has been utilized to support some of the most well-known genomics entities out there like <a href="https://www.23andme.com/genetic-science/" target="_blank">23 and Me</a> and <a href="https://www.ancestry.com/dna/resource/whitePaper/AncestryDNA-Ethnicity-White-Paper.pdf" target="_blank">Ancestry.com</a>.
      Creating customized versions of this assay is still the heart of genomic research in many areas today. 
      In 2016, we were given the green light to redesign the software that creates those custom assays. 
      We really wanted to modernize it and fix workflow issues that the old one had.
    </p>
    <h3>Out with the old...</h3>
    <p>
      The old software application that allowed our users to create custom microarray assays was dubbed the "Assay Design Tool" or ADT for short. 
      While it wasn't a very creative name, it certainly got the job done even with some usability and experience hiccups along the way. 
      The messaging wasn't clear and there was a hitch in the workflow so that customers would have to submit their inputs twice in order to have a working design.
    </p>
    <h3>... in with the new</h3>
    <p>
      Our new software had to accomplish a few goals:
    </p>
    <ol>
      <li>It should have a similar look <i>&amp;</i> experience with DesignStudio, a sister application that does the same thing but with our newer NGS technology assays yet...</li>
      <li>It shouldn't be radically different from ADT, we didn't want to alienate current users familiar with it.</li>
      <li>Finally, it should be modernized and use the latest visual design trends and interactions that users expect. We were going to be launching this software with our latest and greatest microarray product so it should match in terms of innovation.</li>
    </ol>
    <h3>A good time to use new front end technology</h3>
    <p>
      ADT was developed nearly 10 years ago so we really wanted to start the front end from scratch.
      It was dated and not really worth saving from a code reuse standpoint.
    </p>
    <a href="/assets/custom-products/adt-old-01.png"><img class="centered" src="/assets/custom-products/adt-old-01.png" alt="What ADT used to look like."></a>
    <span class="image-caption">
      What ADT used to look like.
    </span>
    <p>
      During development, <a href="https://angularjs.org/" target="_blank">Angular</a> was about to release version 1.5 and the popular framework was at its most mature state.
      The supporting tools had gotten really good and applications practically bundled and deployed themselves (of course you still had to configure things like <a href="https://webpack.js.org/" target="_blank">Webpack</a> which was hard enough but totally worth it).
      Moreover, the user interface needed a facelift and we could easily solve common painpoints of ADT just by re-thinking the end-to-end workflow.
    </p>
    <p>
      The journey took a about 6 months but ultimately, the results were great.
      We evolved the platform from a simple forms-based web page to an elegant, single-page Angular application. 
      While delivering everything we committed to on time.
    </p>
  </div>
  <a href="/assets/custom-products/dsa-screen-01.png"><img class="full-width" src="/assets/custom-products/dsa-screen-01.png" alt="The new DesignStudio Array Assay Selection Screen"></a>
  <span class="image-caption">
    ADT evolved into DesignStudio Microarray Assay Designer
  </span>
  <a href="/assets/custom-products/dsa-screen-02.png"><img class="full-width" src="/assets/custom-products/dsa-screen-02.png" alt="The new DesignStudio Array Summary Screen"></a>
  <div class="project-text">
    <h2>How it was built</h2>
    <h3>The importance of component-driven design</h3>
    <blockquote>
      By simply addressing the design elements from an atomic level and then assembling upwards, more complex interfaces can take shape with predictable results.
    </blockquote>
    <h3>Component libraries pay for themselves over time</h3>
    <p>
      For just about any project that I start, I spend time to craft a library of quality 'atoms' that are used to prototype user interfaces with Goldilocks-fidelity as soon as possible (not too high, not too low).
      I do this for two reasons:
    </p>
    <ol>
      <li>User feedback on believable prototypes are generally more authentic compared to when users know they're just testing a 'prototype'.</li>
      <li>Validated features and screens can easily be passed onto developers with little to no modifications since they are visually true to the final design.</li>
    </ol>
    <p>
      Don't get me wrong, I love pen and paper and wireframing for quick ideation at the beginning of the process, but those are a one-time use effort.
      Having my own well-crafted component library is something that has multiple uses and gives value throughout the lifecycle of a project.
      By simply addressing the design elements from an <a href="http://atomicdesign.bradfrost.com/chapter-2/" target="_blank">atomic level</a> and then assembling upwards, more complex interfaces can take shape with predictable results.
    </p>
    <a href="/assets/custom-products/dsa-atomic-elements.png"><img class="centered" src="/assets/custom-products/dsa-atomic-elements.png" alt="DesignStudio Array Atomic Elements"></a>
    <span class="image-caption">
      DesignStudio's Component library
    </span>
    <h3>Sketch is built for the job</h3>
    <p>
      <a href="https://www.sketchapp.com/" target="_blank">Sketch</a> has made it elegant to build component libraries with their <a href="https://www.sketchapp.com/learn/documentation/symbols/" target="_blank">symbols feature</a>.
      It allows easy reuse of common user interface elements across artboards and fits perfectly with a component-driven design process.
      Ultimately, it makes the design process fast, often times turning ideas into prototypes within the same day (or hour).
    </p>
    <p>
      One vastly underrated feature of Sketch is the ecosystem of plugins that the community has built around it. 
      Plugins like <a href="http://sketchrunner.com/" target="_blank">Runner</a> and <a href="https://www.invisionapp.com/craft" target="_blank">Craft</a> really show how creative you can get with them and how a bit of code can save designers hours every single day. 
      These plugins also help keep my designs component-driven. 
      They force me to be conscious about building useful, re-usable components and often times, this translates into re-usable CSS styles and JavaScript code too.
    </p>
    <h3>Designing for developers</h3>
    <p>
      We can apply design to developers too. 
      Setting up a new AngularJS project is one of the most difficult things to get right. 
      Choosing your build tools and writing npm scripts are the backbone of setting up any project. 
      The choices that you make here will result in a more productive and pleasant developer experience.
    </p>
    <div class="statement">JavaScript. Love it or loathe it.</div>
    <p>
      For this project, I combined <a href="https://www.browsersync.io/" target="_blank">BrowserSync</a> for quick cross-browser testing along with <a href="http://gulpjs.com/" target="_blank">Gulp</a> to detect code changes and run tasks. 
      When we were ready to start deploying to our environments, I wrote various configurable deployment scripts for our different environments and stashed them in npm. 
      No more putzing around with config transforms, we built for all of our environments in one go so we can have them on-hand when ready.
      Finally, I configured <a href="https://www.jetbrains.com/teamcity/" target="_blank">TeamCity</a> to build NuGet packages so that <a href="https://octopus.com/" target="_blank">Octopus</a> could deploy them when ready (we weren't deploying ASP.NET packages but it was something familiar to our DevOps team and it could deliver packaged file systems just fine).
    </p>
    <h3>Webpack, Optimizations, and Performance</h3>
    <p>
      This new product was a great time to focus on front end performance. 
      We were able to reduce our app deployment size to about 1.4MB (we started around 4MB) after using Webpack and innovative loaders like <a href="https://github.com/shakacode/bootstrap-loader" target="_blank">bootstrap-loader</a>.
      Webpack was also able to save us a few bytes here and there by removing deadend code, unused functions, and documentation all before we were uglifying and compressing. 
      Finally, all of the assets were optimized according to their file type and we made smart design choices about the type of images we would use and where we would use them.
    </p>
  </div>
</article>