<article id="project-container">
  <div id="project-hero">
      <img style="height: 200px; width: 200px;" class="centered" src="/assets/img/{{imgSrc}}" alt="">
  </div>
  <div class="project-text">
    
    <h1>{{title}}</h1>
    <p>
      A well-defined and thoughtful design language should be the heart of any company where multiple products exist. 
      Simply put, without any sort of guidance, the vision of how it is supposed to represent the company becomes inconsistent and subjective. 
      Moreover, problems are often solved multiple times throughout different teams and this is highly inefficient. 
    </p>
    <h3>What makes a good design language?</h3>
    <p>
      There are a lot of approcahes to design systems and languages. 
      I've often studied <a href="https://material.io/guidelines/" target="_blank">Material Design</a> because there is something so distinct about it. 
      I love their analogy to physical manifestations of paper and I think it really comes across as believable and to some extent obvious (which is a sign of a great design system). 
      Users expect interaction when they tap a button. 
      They also expect material to have depth. 
      When things resize, they do so with conviction and meaning. 
      And when they enter and exit the page, it seems like they are in concert. 
      <i>So should a good design system be believable?</i>
    </p>
    <p>
      IBM has their own <a href="https://www.ibm.com/design/language/" target="_blank">design language</a> too. 
      They claim that it is a shared vocabulary for design. 
      I like that concept as well. Our designers and developers should be speaking the same language to design cohesive interfaces. 
      <i>So should a good design system have a clear vocabulary? </i>
    </p>
    <p>
      Then there are design languages like <a href="http://fluent.microsoft.com/" target="_blank">Fluent</a> from Microsoft. 
      Fluent seeks to bridge the gap between 2D and 3D and make the screen, AR, and VR seamless. 
      <i>So should a good design system connect things together for one seamless ecosystem? </i>
    </p>
    <h2>Crafting our own language at Illumina</h2>
    <h3>Design Traits, one family of products with a genetic lineage</h3>
    <h2>Guidelines and principles not instruction sets</h2>
    <h2>Developer friendly, easy to internalize</h2>
    <h2>Show your work</h2>
  </div>
</article>