<article id="project-container">
  <div id="project-hero">
      <img style="height: 200px; width: 200px;" class="centered" src="/assets/img/{{imgSrc}}" alt="">
  </div>
  <div class="project-text">
    
    <h1>{{title}}</h1>
    <p>
      Defining look and feel on a team that has no central designer (CDO) has its challenges.
    </p>
    <h2>What defines the look of an application?</h2>
    <h2>Leave design to designers.</h2>
    <h2>Guidelines and principles, not How-to.</h2>
    <h2>Don't leave your developers out of this.</h2>
    <h2>Find an advocate</h2>
  </div>
</article>