<article id="project-container">
  <div id="project-hero">
      <img style="height: 200px; width: 200px;" class="centered" src="/assets/img/{{imgSrc}}" alt="">
  </div>
  <div class="project-text">
    
    <h1>{{title}}</h1>
    <p>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quibusdam cupiditate, illo, placeat facere ipsam natus facilis debitis ipsa aliquid fugit suscipit nihil, in nemo quaerat! Laboriosam eius, cumque deserunt!</span>
      <span>At ipsam labore cupiditate. Voluptas soluta expedita similique autem repudiandae dolores placeat harum numquam, quasi odit iure enim praesentium totam, illo vel id maxime laborum aut nostrum cupiditate. Aspernatur, tenetur.</span>
      <span>Quidem mollitia unde placeat ipsum laborum repellendus, doloribus sit, possimus dolore consectetur modi? Officiis atque, tempore sed labore modi ex at, culpa soluta deserunt quia praesentium voluptates voluptatum ratione, corporis.</span>
      <span>Cupiditate quaerat eum placeat recusandae. Numquam itaque earum voluptas, suscipit optio, maiores sit, consequuntur reprehenderit minima commodi vitae animi. Vero voluptates soluta unde eaque recusandae et suscipit minus, ducimus dicta.</span>
      <span>Iusto saepe minus labore suscipit illo quam facilis incidunt repellat, dolorem commodi at quod asperiores architecto quos tenetur quaerat sequi quis, obcaecati autem fugit minima explicabo, impedit delectus. Earum, natus?</span>
    </p>
  </div>
</article>