#project-hero {
    background: #4F5A67;
}
.contrast-example-section {
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.contrast-example {
    float: left;
    margin-bottom: 25px;
    font-family: inherit;
    width: 260px;
    background-color: #3E4752;
    color: #E7AFD6;
    padding: 30px;
}

.equation-section {
    margin-left: 20px;
}
.equation {
    margin-bottom: 15px;
    display: block;
    border-bottom: 1px solid #333;

    .operand {
        display: block;
        padding-left: 10px;
        margin-bottom: 15px;    
    }
    span.operand:last-child:before {
        content: '\2212';
        // padding-right: 10px;
        margin-left: -10px;
    }
    span.operand:last-child:after {
        border-bottom: 1px solid #333;
    }
}
.result {
    display: block;
    padding-left: 10px;
}
.color-spectrum {
    display: flex;
    height: 102px;
    width: 80%;
    margin: 25px auto;    
    .color-spectrum-item {
        flex: 1;
        opacity: 1;
        position: relative;
    }
    .spectrum-item-label {
        font-family: 'Libre Franklin', sans-serif;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
        color: #FFF;
        padding: 5px;
    }
}
.color-spectrum.half {
    height: 51px;
}