:host {
    position: fixed;
    display: block;
    bottom: 20px;
    right: 20px;
    z-index: 10001;
}
#home-button-cmp {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    cursor: pointer;
    transition: 0.5s transform, 0.5s filter cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#home-button-cmp:hover {
    transform: translateY(-0.4em);
    filter: grayscale(100%);
}
#home-button-icon {
    margin: 0 0.5em;
    height: 24px;
    opacity: 0.8;
}