/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Libre+Franklin:400,700');

::selection {
    background-color: #C1FFE1;
}
body {
    color: #23272D;
    background-color: #EFF1F5;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: 'Libre Franklin', sans-serif;
    line-height: 1.1em;
}
h1 {
    margin: 0.24em 0em;
}
p {
    margin: 0.29em 0em 1.56em 0em;;
    line-height: 1.819em;
}
ul {
    padding: 0;
}
li {
    line-height: 2.2em;
}
blockquote {
    margin: 20px 0;
    padding: 30px 30px;
    text-align: left;
    font-size: 1.3em;
    line-height: 1.8em;
    font-style: italic;
    border-right: 2px solid #C1FFE1;
    border-left: 12px solid #C1FFE1;    
    background-color: rgba(255,255,255,0.3);
}
a {
    text-decoration: none;
    padding: 2px 0;
    border-bottom: 2px solid #73F08C;    
    background-color: rgba(255,255,255,0.2);
    transition: background-color 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
a:hover {
    background-color: #73F08C;
}
a:visited {
    color: #23272D;
}