:host {
    box-sizing: border-box;
    display: block;
    width: 100vw;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
#project-container {
    margin: 0 auto;
    text-align: center;
}
h1, h2, h3 {
    margin-top: 1.8em;
    margin-bottom: 1em;
}
.project-text {
    padding: 0 30px;
    max-width: 660px;
    margin: 0 auto;
    text-align: left;
}
img.full-width {
    width: 100%;
    margin: 25px 0;
}
img.centered {
    max-width: 100%;
    margin: 0 auto;
}
.statement {
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    padding: 20px 30px;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 25px;
}
#project-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    height: 620px;
    width: 100%; 
}
.image-caption {
    display: block;
    text-align: center;
    font-style: italic;
    margin: 1em 0;
}